
html {
  background-size: cover;
}


html, body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  margin: 0px;
  font-family: "Open Sans";
  background: white;
}

.App {
  position: relative;
  width: 100%;
  font-size:100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  padding: 16px 16px 32px 16px;
  transition: top 0.3s ease-in;
  width: 100%;
  display: flex;
  background-color: #24344B;
  /* position: absolute; */
  justify-content: space-between;
  /* align-content: flex-start; */
  flex: 1 1 auto;

}

.capture-logo {
  color: white;
  font-family: "Avenir";
  font-size: 48px;
  font-weight: 700;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  vertical-align: bottom;
  padding: 0px 0px 0px 12px;
  margin: 18px 0px -6px 0px;
}

.logo-period {
  color: #45D2C7;
}


.navbar-link-container {
  display: inline-flex;
  align-self: flex-end;
  margin: 0px 24px;

}

.navbar-link {
  color: #E4F6F6;
  font-size: 60%;
  padding: 12px 16px;
  margin: 12px;
}

.page-header {
  display: block;
}

.jobSearchContainer {
  position: relative;
  height: 100vh;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  /* margin: 16px; */
  /* margin: 16px; */
  /* margin: 12px; */

}

.job-filter-wrapper {
  background: #dae2eb;
  /* margin: 6px; */
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100%;
  min-height: auto;


}

.jobFilters {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-around;

}

.job-filter-criteria {
  position: relative;
  display: inline-flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  margin: 8px 20px;
  font-size: 80%;
  wrap: wrap;
  max-width: 20%;
  max-height: 100%;


}

.job-filter-header {
  text-align: center;
  padding: 8px;
}

input[type="text"].keyword-filter {
  box-shadow: none;
  font-family: "Open Sans";
  height: 16px;

  box-shadow: 0px 0px !important;
  border: hsl(0,0%,80%) solid 1px;
  flex: 1 1 auto !important;
  max-height: 32px;

}

.filter-input, .select-input {
  border-radius: 5px;
  flex: 1 1 auto;
}

.css-10odw4q {
  white-space: nowrap;
}

.css-1aya2g8 {
  border-radius: 0px;
}

.css-1rtrksz {
  padding: 2px 4px !important;
}

.searchButton {
  display: block;
  margin: 10px 20px;
  padding: 8px;
  border-radius: 6px;
  background-color: white;
  color: #0176ff;
  border: #0176ff solid 1px;
  font-family: "Open Sans";
}

.job-search-result-list {
  height: 100%;
  width: 98%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
  justify-content: center;

}

.job-search-result-item-wrapper {
  font-size: 16px;
  text-rendering: optimizelegibility;
  box-sizing: border-box;
  line-height: 20px;
  position: relative;
  z-index: auto;
  width: 100%;
  display: block;
  padding: 12px 12px 12px 10px;
  margin: 12px;
  border: 1px solid rgba(0,0,0,.1);
}

.job-search-result-item-text {
  flex: 1 1 auto;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0;
  font-family: "Open Sans";
    line-height: 20px;

  box-sizing: border-box;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: center;


  z-index: auto;
}

.job-search-result-item-company-name {
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-family: "Open Sans";
    text-rendering: optimizelegibility;
    box-sizing: content-box;
    text-overflow: ellipsis;
    padding: 3px 0px;

    -o-text-overflow: ellipsis;
    display: block;
    align-items: flex-start;
}

.job-search-result-item-job-title {

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.283333px;
    line-height: 24px;
    margin: 0;
    padding: 8px 0px;
    letter-spacing: .5px;
    font-family: "Open Sans";
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    /* padding: 12px 0; */
    -o-text-overflow: ellipsis;
    text-rendering: optimizelegibility;
    visibility: visible;
    text-overflow: ellipsis;
    box-sizing: content-box;
    display: block;
    align-items: center;
}

.job-search-result-item-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px 6px 0px;
}

.job-search-result-item-link {
  align-items: flex-end;
  display: inline-flex;
  flex-direction: column;
  align-self: flex-start;
}

.job-search-result-item-bookmark {
  display: inline-flex;
  flex-direction: column;
  align-self: flex-end;
}


.bookmarks {
  border-bottom: #3A4A4D 1px inset;
  /* grid-column: 1; */

}


.about-titleOpp {
  justify-content: flex-start;

}

.about-title {
  justify-content: flex-start;

}

.about-title, .about-titleOpp {
  /* flex-grow: 6; */
  text-transform: uppercase;
  padding: 0.25em 0;
  font-size: 20px;
  font-weight: 550;
}


.about-descriptionOpp {
  justify-content: flex-start;
  width: 80%;
  flex: auto;
  color: #484545;
}

.about-description {
  justify-content: flex-start;
  flex: auto;
  width: 80%;
}

.about-description, .about-descriptionOpp {

  width: 78%;
  margin: 1em 1.5em;
  padding: 1em 1.5em;
  align-self: center;
  font-size: 16px;

}
