
html {
  background-size: cover;
}


html, body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  margin: 0px;
  font-family: "Open Sans";
}

.App {
  position: relative;
  width: 100%;
  font-size:100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  padding: 16px 16px 32px 16px;
  transition: top 0.3s ease-in;
  width: 100%;
  display: flex;
  background-color: #24344B;
  /* position: absolute; */
  justify-content: space-between;
  /* align-content: flex-start; */
  flex: 1 1 auto;

}

.capture-logo {
  color: white;
  font-family: "Avenir";
  font-size: 48px;
  font-weight: 700;
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
  vertical-align: bottom;
  padding: 0px 0px 0px 12px;
  margin: 18px 0px -6px 0px;
}

.logo-period {
  color: #45D2C7;
}


.navbar-link-container {
  display: inline-flex;
  align-self: flex-end;
  margin: 0px 24px;

}

.navbar-link {
  color: #E4F6F6;
  font-size: 60%;
  padding: 12px 16px;
  margin: 12px;
}

.jobSearchContainer {
  position: relative;
  height: 100%;
  width: 100%;
  flex: 1 0 auto;
  padding: 0.5em;
}


.bookmarks {
  border-bottom: #3A4A4D 1px inset;
  /* grid-column: 1; */

}


.about-titleOpp {
  justify-content: flex-start;

}

.about-title {
  justify-content: flex-start;

}

.about-title, .about-titleOpp {
  /* flex-grow: 6; */
  text-transform: uppercase;
  padding: 0.25em 0;
  font-size: 20px;
  font-weight: 550;
}


.about-descriptionOpp {
  justify-content: flex-start;
  width: 80%;
  flex: auto;
  color: #484545;
}

.about-description {
  justify-content: flex-start;
  flex: auto;
  width: 80%;
}

.about-description, .about-descriptionOpp {

  width: 78%;
  margin: 1em 1.5em;
  padding: 1em 1.5em;
  align-self: center;
  font-size: 16px;

}
